
.card-what{
  background: #fff;
  min-height: 50px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  width: 590px;
  right: 106px;
  margin-bottom: 30px;
  height: 796px;

}
.body{
  font-size: 14px;
  color: #555;
  padding: 20px;
}

i{
  margin-right: 5px;
}

.form-linha{
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #ddd;
  position: relative;
  padding-left: 27px;
}